# Place here your local development environment settings. Rules:
# - comments must have their own lines
# - one environment setting per line

# place your Hubot token here, uncomment this line:
HUBOT_SLACK_TOKEN=xoxb-

# Migrate away from using deprecated SlackDataStore
# see: https://github.com/slackapi/node-slack-sdk/wiki/DataStore-v3.x-Migration-Guide
# (also fixed "Socket URL has expired" error)
HUBOT_SLACK_RTM_CLIENT_OPTS='{  "dataStore": false, "useRtmConnect": true }'

# don't let Hubot setup an HTTP server
HUBOT_HELP_DISABLE_HTTP=true

# log level - normally set to info
HUBOT_LOG_LEVEL=error

# setup debugging of the Hubot Command Mapper
# Check
HCM_ADD_DEBUG_COMMAND=false
HCM_VERBOSE=false
# HCM_SHOW_INVALID_SYNTAX=true
# HCM_SHOW_HELP_ON_INVALID_SYNTAX=true
# HCM_INVALID_SYNTAX_MESSAGE="invalid syntax."
# HCM_INVALID_SYNTAX_HELP_PREFIX="sorry, I don't understand. Maybe you could try:\n- "
# HCM_NOT_AUTHORIZED_MESSAGE="sorry, you are not authorized to use this command."

# GENERAL SETTINGS
#TZ=Europe/Amsterdam
